
@import "price-card.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    background-color: #141b1c;
    color: #fff;
    font-size: 15px;
}
.page {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    margin: auto;
}
